﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contacto</title>
</head>
<body>
    <div>
        <p>NOMBRE: JESUS YASMANI MARTINEZ PERDOMO
        <br>CODIGO: 2012163419
        <br>CORREO: yax312@hotmail.com
        <br>TELEFONO: 3124798666</p>
    </div>
</body>
</html>
